.container-global{
    width: 100%;
    height: 130vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container-producto{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-productos-menu{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

