.container-form{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 28%;
    height: 80%;
    border-radius: 10px;
    background-color: #99cf9dcd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.img-form{
    width: 20%;
}

.form-image{
    width: 70%;
    height: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: dotted;
    border-width: 2px;
}

.container-input{
    width: 60%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-button{
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}